# Python & Data Science Practical Exercises 3

## Functional Programming

Follow the instructions to complete each of these tasks, and use the testing code cells to check your answers. This set of exercises focuses on writing functional programming in Python.

**Questions marked with a * are extra challenging**

The relevant materials for these exercises are lectures 7 and 8.

This is not assessed but will help you gain practical experience for the exam and coursework.

## FUNCTIONAL PROGRAMMING

### 1. Basic Python and data structures 

#### 1.1

Write a function fib(n) that returns the first n values of the Fibonacci sequence $F$, with $F_1=1$, $F_2=1$, $F_n = F_{n-1} + F_{n-2}$.

In [1]:
def fib(n):
    # Define first 2 terms
    f1 = 0
    f2 = 1
    c = 0
    
    # Generate fibonacci sequence
    if n == 0:
        print('Invalid input, please type a number bigger than 0 and try again.')
    else:
        print("Fibonacci Sequence:")
        while c < n:
            print(f1)
            fth = f1 + f2
            # Update values
            f1 = f2
            f2 = fth
            c += 1

        print('\n\nFirst ' + str(n) + ' values of the Fibonacci Sequence:')
        print(f1)

In [9]:
# Testing
fib(12) # Should give 144

Fibonacci Sequence:
0
1
1
2
3
5
8
13
21
34
55
89


First 12 values of the Fibonacci Sequence:
144

#### 1.2

Write a function rev(xs) that takes a list as argument and returns the list in reverse, without using the built-in Python reverse() method.

In [17]:
def rev(listA):
    print(listA[::-1])

In [18]:
# Testing
rev([[2,1],4,"test",1]) # Should return [1,"test",4,[2,1]]

[1, 'test', 4, [2, 1]]

#### 1.3

Write a function palindrome(s) to determine if a string s is a palindrome (the same backwards as forwards), returning True if it is and False otherwise. The function should ignore capitalisation (you can use the lower() method for strings for this).

In [22]:
def palindrome(n):
    return str(n) == str(n)[::-1]

In [23]:
# Testing
print(palindrome("Kayak".lower())) # True
print(palindrome("Python".lower())) # False
print(palindrome("civic".lower())) # True

True
False
True

In [24]:
def palindrome(s):
    y=s.lower()
    sx=y[::-1]
    if y==sx:
        return True
    else:
        return False

In [25]:
# Testing
print(palindrome("Kayak")) # True
print(palindrome("Python")) # False
print(palindrome("civic")) # True

True
False
True

#### 2. Map

#### 2.1

Use a map to return the largest element of each pair (tuple) in the list below

In [26]:
a = [(3, 2, 3), (1, 9, 10), (4, 1, 2), (8, 6, 3), (1, 7, 9)]
f = lambda x :max

In [28]:
# Testing
list(map(max,a)) # [(3, 2, 3), (1, 9, 10), (4, 1, 2), (8, 6, 3), (1, 7, 9)]

[3, 10, 4, 8, 9]

#### 3. Fold

#### 3.1*

Write __filter function__ that validates the presence of the __"@"__ symbol in a list of emails. Please implement the solution with __anonymous function__.

In [29]:
def valid_email(email):
    if '@' in email:
        return email
    
emlist = ['lupita@gmail.com','chanclaATgmail.om','I lost my email','pure123@reading.ac.uk', 'notanemail']

femail_list = filter(valid_email, emlist)
print(list(femail_list))

['lupita@gmail.com', 'pure123@reading.ac.uk']

In [30]:
## Annonymous function
femail_list = filter(lambda x: '@' in  x,emlist) 

##Email list:
emlist = ['lupita@gmail.com','chanclaATgmail.om','I lost my email','pure123@reading.ac.uk', 'notanemail']
print(list(femail_list))

['lupita@gmail.com', 'pure123@reading.ac.uk']

In [74]:
##Test with the following list:
emlist = ['lupita@gmail.com','chanclaATgmail.om','I lost my email','pure123@reading.ac.uk', 'notanemail'] 
# Should return ['lupita@gmail.com', 'pure123@reading.ac.uk']

#### 4. Higher order functions

#### 4.1*

Write a function power(f,n) that takes a function as an argument, and returns a function that applies f to its input n times

E.g. for g=power(f,3), $g(x)=f(f(f(x)))$

In [32]:
def power (f, x, n) :
    for i in range(n):
        x = f(x)
    return x

def square(x):
    return pow(x, 2)

y = power(square,3, 4)
print(y)

43046721

#### 5. List comprehensions

#### 5.1

Write a list comprehension that will return all possible sets of three values x,y,z, one from each list a,b and c, where x<y<z.

In [33]:
a = [2,4,5,6,7]
b = [3,9,6,4]
c = [5,2,9]

newlist = [(x, y, z) for x in a for y in b for z in c if x < y < z]
print(newlist)

# Should give [(2, 3, 5), (2, 3, 9), (2, 6, 9), (2, 4, 5), (2, 4, 9), (4, 6, 9), (5, 6, 9)]

[(2, 3, 5), (2, 3, 9), (2, 6, 9), (2, 4, 5), (2, 4, 9), (4, 6, 9), (5, 6, 9)]

#### 5.2

Write a list comprehension that returns pairs (x,y) where x is divisble by y for x in the range a and y in the range b.

In [21]:
a = range(1,22)
b = range(1,11)

In [126]:
z = [(x,y) for x in range(1, 22) for y in range(1, 11) if x%y == 0]
print(z)
# Output should have 59 elements - test this with len()
len(z)

[(1, 1), (2, 1), (2, 2), (3, 1), (3, 3), (4, 1), (4, 2), (4, 4), (5, 1), (5, 5), (6, 1), (6, 2), (6, 3), (6, 6), (7, 1), (7, 7), (8, 1), (8, 2), (8, 4), (8, 8), (9, 1), (9, 3), (9, 9), (10, 1), (10, 2), (10, 5), (10, 10), (11, 1), (12, 1), (12, 2), (12, 3), (12, 4), (12, 6), (13, 1), (14, 1), (14, 2), (14, 7), (15, 1), (15, 3), (15, 5), (16, 1), (16, 2), (16, 4), (16, 8), (17, 1), (18, 1), (18, 2), (18, 3), (18, 6), (18, 9), (19, 1), (20, 1), (20, 2), (20, 4), (20, 5), (20, 10), (21, 1), (21, 3), (21, 7)]

59

#### 6. Generators
#### 6.1

Write a generator expression g that will generate an infinite sequence of values which are not divisible by 3 or 5. You should use the count function in the itertools module to generate the infinite range.

In [38]:
import itertools

def g(N):
    for i in itertools.count(1,1):
        if (i%3!=0 and i%5!=0):
            yield i

In [39]:
gen=g(5)

print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))

1
2
4
7
8
11

#### 6.2

Write a function take(g,n) that takes a generator g as an argument and returns a list containing the first n values of g. Use it to generate the first five values of the generator in the previous question.

In [40]:
def take(g,n):
    return [next(g) for i in range(n)]

In [41]:
# Testing
take(g(20),5) # Should give [1,2,4,7,8]

[1, 2, 4, 7, 8]